<!DOCTYPE html>
<html lang="en"> 
{% load static %}

<head> 
        
    {%block title%}
        <title>About Us Page</title>
    {% endblock %}
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device,width, initial-scale=1"/>

    <!--CSS connect - Main.css-->
    <link rel="stylesheet" href="{% static 'main.css' %}"/>

        <!--CSS connect - about.css-->
    <link rel="stylesheet" href="{% static 'about.css' %}"/>

</head>
<body> 
 
    {% block content%}
    
    <!--Navigation bar buttons-->
    <ul>
        <!--Logo-->
        <img src="https://i.postimg.cc/YCpDt5fF/Screenshot-2025-10-10-001046.jpg" width="70px" height="70px" margin-left="20%">

        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'Register' %}">Login/Register</a></li>
        <li><a class="active" href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'booking' %}">Booking</a></li>
    </ul>

    <!--EasyBooking Title-->
    <h1 class="title_1">Easy Booking</h1>

    <!--Images-->
    <img class="image_1" src="{% static 'about_1.jpg'%}">

    <img class="image_2" src="{% static 'about_2.jpg' %}">

    <!--Short Description-->
    <main class="main-content">
        <h1 class="title">Why Easy Booking?</h1>
        <p class="para-body">Locally trusted, and best at offering affordable prices! 
            <br>
            <br>
            Booking now to get an discount of 50%
            <br>
            <br>
            <br>
        </p>

        <button class="button">
            Book Now
        </button>

    </main>

    {% endblock %}

    <footer>
        @EasyBooking_2025
        <hr style="width:95%;">
    </footer>
</body>
</html>