<!DOCTYPE html>
<html>
{% load static %}

<head>

    {%block title%}
        <title>Contact Page</title>
    {% endblock %}
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device,width, initial-scale=1"/>

    <link rel="stylesheet" href="{% static 'main.css' %}"/>

</head>

<body> 
    
    {% block content%}
    <ul>
        <!--Logo-->
        <img src="https://i.postimg.cc/YCpDt5fF/Screenshot-2025-10-10-001046.jpg" width="70px" height="70px" margin-left="20%">

        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a class="active" href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'Register' %}">Login/Register</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'booking' %}">Booking</a></li>
        
    </ul>


 <!--Contact Form + Details-->
 
    {% endblock %}

   <footer>
        <hr style="width:95%;">
        @EasyBooking_2025s
    </footer>
    
</body>
</html>