<!DOCTYPE html>
<html lang="en"> 
{% load static %}

<head> 
        
    {%block title%}
        <title>Home Page</title>
    {% endblock %}
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--CSS connect - Main-->
    <link rel="stylesheet" href="{% static 'main.css' %}"/>

    <!--CSS connect - home.css -->
    <link rel="stylesheet" href="{% static 'home.css' %}"/>
   
</head>
<body> 
 
    <ul>
        <!--Work during week (adding icons beside navbar buttons)-->
        <!--Logo-->
        <img src="https://i.postimg.cc/YCpDt5fF/Screenshot-2025-10-10-001046.jpg" width="70px" height="70px" margin-left="20%">

        <li><a class="active" href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'Register' %}">Login/Register</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'booking' %}">Booking</a></li>

    </ul>

    <h1><bold>Easy Booking</bold></h1>

     <div class="main-content">
        <h2 class="title">Find the perfect solution that meets your needs!</h1>
        <p class="para-body">We offer a variety of...</p>

    </div>

        <img class="img" src="{% static 'home-img.png' %}" style="margin-left: 850px; margin-top:-550px;">


    <footer>
        <hr style="width:95%;">
        @EasyBooking_2025
    </footer>

</body>