<!DOCTYPE html>
<html lang="en"> 
{% load static %}

<head> 
        
    {%block title%}
        <title>Home Page</title>
    {% endblock %}
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device,width, initial-scale=1"/>

    <!--CSS connect - Main-->
    <link rel="stylesheet" href="{% static 'main.css' %}"/>

    <!--CSS connect - home.css -->
    <link rel="stylesheet" href="{% static 'home.css' %}"/>
   
</head>
<body> 
 
    {% block content%}
        
    <ul>
        <!--Logo-->
        <img src="https://i.postimg.cc/YCpDt5fF/Screenshot-2025-10-10-001046.jpg" width="70px" height="70px" margin-left="20%">

        <li><a class="active" href="{% url 'Home' %}">Home</a></li>
        <li><a href="{% url 'Contact' %}">Contact</a></li>
        <li><a href="{% url 'Register' %}">Login/Register</a></li>
        <li><a href="{% url 'About_us' %}">About Us</a></li>
        <!--Booking to be added-->
    </ul>

    <h1><bold>Easy Booking</bold></h1>

    {% endblock %}

   <footer>
        @EasyBooking_2025
        <hr style="width:95%;">
    </footer>

</body>