<!DOCTYPE html>
<html lang="en"> 
{% load static %}


<head> 
        
    {%block title%}
        <title>Home Page</title>
    {% endblock %}
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device,width, initial-scale=1"/>

    <!--CSS connect-->
    <link rel="stylesheet" href="{% static 'main.css' %}"/>

</head>
<body> 
 
    {% block content%}
        
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#Contact">Contact</a></li>
        <li><a href="#login">Login/Register</a></li>
        <li><a href="#Booking">Booking</a></li>

    </ul>

    <h1><bold>Easy Booking</bold></h1>

    {% endblock %}

    <footer>
        @EasyBooking_2025
    </footer>
</body>