<!DOCTYPE html>
<html>
{% load static %}

<head>

    {%block title%}
        <title>Login Page</title>
    {% endblock %}
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device,width, initial-scale=1"/>

    <link rel="stylesheet" href="{% static 'main.css' %}"/>

</head>

<body> 
    {% block content %}
    
    <!--Navigation Bar - buttons-->
    <ul>
        <!--Logo-->
        <img src="https://i.postimg.cc/YCpDt5fF/Screenshot-2025-10-10-001046.jpg" width="70px" height="70px" margin-left="20%">

        <li><a href="#home">Home</a></li>
        <li><a href="#Contact">Contact</a></li>
        <li><a class="active" href="#login">Login/Register</a></li>
        <li><a href="#Booking">Booking</a></li>

    </ul>

    <!--Add login form-->

    {% endblock %}

   <footer>
        @EasyBooking_2025
        <hr style="width:95%;">
    </footer>

</body>
</html>