<!--Forgot Password-->
<!DOCTYPE html>
<html>
    <head>
        {% extends 'main.html' %}
    </head>
    
    <body>
        {% block title %}Forgot Your Password? {% endblock%}

{% block body %}
<br>
<br>
<br>
    <h1>Forgot your password?</h1>
    <p>Enter your email Address below, and the instructions for reseting your password will be sent!</p>
    <input></input>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send me instructions">
    </form>
{% endblock %}
    </body>
</html>



