<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head> 
        {% load static %}
        <meta charset="utf-8">
        <title>Password Resent Sent</title>
        <!--add style folder and then add home + loginreg.css files below!-->
    <link rel="stylesheet" href="{% static 'login_reg.css' %}"/>
    </head>

    <body>

        <div class="center"> 
            <h1>Reset Sent</h1>

            <center> 
                <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email!</div>
            </center>

        </div>

    </body>
</html>