<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head> 
        {% load static %}
        <meta charset="utf-8">
        <title>Register</title>
        <!--add style folder and then add home + loginreg.css files below!-->
        <link rel="stylesheet" href="{% static 'login_reg.css' %}"
    </head>

    <body>
        <div class="container_2">
            <h1>Register</h1>

            <!--Flash messages-->
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error'%}
                        <center><h4 style="color: firbrick">{{message}}</h4></center>
                    {% else %}
                        <center><h4 style="color: dodgerblue">{{message}}</h4></center>
                    {% endif %}
                {% endfor %}
            {% endif %}


            <form method="POST"> 

                {% csrf_token %}

                    <!--add correct fields according to customized fields already added!-->
                <div class="txt_field">
                    <input type="text" required name="username"> 
                    <span></span>
                    <label>Username</label>
                </div>
                
                <div class="txt_field"><!--add verification if enough time this evening and push all work to github!-->
                    <input type="email" required name="email"> 
                    <span></span>
                    <label>Email</label>
                </div>

                <div class="txt_field">
                    <input type="password" required name="password">
                    <span></span>
                    <label>Password</label>
                </div>
                
                <input type="submit" value="Register">
                <div class="signup_link"> 
                    Already have an account? <a href="{% url 'login' %}">Login</a>
                </div>
            </form>
        </div>

    </body>
</html>