/*add other .css elements...*/

/*Footer - Style*/
footer{
    position: fixed; 
    left: 0;
    bottom: 0;
    width:100%; 
    background-color:#A9714B;
    color:white;
    text-align:center;
    font-size: large;
    padding-top:4px;
    padding-bottom: 4px;
    height:10%;
}
