body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: #f4f4f4;
	min-height: 100vh;
	box-sizing: border-box;
}

/*Container for login & registeration*/
.container_3{ 
    width:600px;
    height:420px;
    background-color: #E8985E;
    margin-left:500px;
    border-radius:10px;
}

/*Footer - Style*/
footer{
    position: fixed; 
    left: 0;
    bottom: 0;
    width:100%; 
    background-color:#A9714B;
    color:white;
    text-align:center;
    font-size: large;
    padding-top:4px;
    padding-bottom: 4px;
    height:10%;
}
