/*Main body of code style*/
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: #f4f4f4;
	min-height: 100vh;
	box-sizing: border-box;
}

/*Heading 1 style*/
h1{
    background-color: #7BB6E0;
    height:50px;
    color:white;
    size: 100px;
    text-align:center;
}

/*nav-bar*/
.nav_bar{
	background-color:white;
	color:black;
}

/*main home page*/
.img_1{
	margin-left:850px;
	margin-top:30px;
}

/*Main container contains Containter + Image*/
.main_container{
	position:relative;
}

/*Home container*/
.main-content {
	position:absolute;
	width: 95vw;
	max-width: 375px;
	margin: 5vh auto 0 auto;
	padding: 2vw;
	background: #fff;
	color:black;
	border-radius: 1vw;
	min-height: 45vh;
	margin-left: 475px;
	border-color: #e8985e;
	border-style:solid;
	border-width:4px;
	height:50px;
	top:10px;
}

/*button main */
.button{
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width:70%;
}

/*Main button - border color*/
.button1 {
	border: 2px solid #7BB6E0;
}

/*Main button - hover colours*/
.button1:hover{
	background-color: #7BB6E0;
	color:white;
	font-weight: bold;
}

/*title style*/
.title {
	font-size: 1.5vw;
	margin-bottom: 2vh;
	text-align: center;
	color:black;
}


.label_home{
    color:black;
    font-size:15px;
    margin-left:86px;
    font-weight:bold;
	text-align:center;
}

/**/
.para-body {
	font-size: 1.2vw;
	text-align: center;
	margin-bottom: 4vh;
}

/**/
.body_para{
	font-size:30px;
	margin-right:130px;
	font-weight:bold;
	color:black;
}

/*Display text only - Contact Us*/
.display_1{
	margin-right:955px;
	margin-top:-450px;
}

/*Display text only - Flexible*/
.display_2{
	margin-right:950px;
	margin-top:50px;
}

/*Display text only - Locally trusted*/
.display_3{
	margin-right:970px;
	margin-top:50px;
}

.display_img1{
	margin-right:920px;
	margin-top:-300px;
	width:100px;
	height:100px;
}

/*Login page direct_link*/
.link_container{
  background-color:#E8985E;
  width:600px;
  height:100px;
  margin-left:500px;
  margin-top: -60px;
  border-radius:25px;
  text-align:center;
  font-weight:bold;
}

@media (max-width: 900px) {
	.main-content {
		width: 98vw;
		padding: 2vw 1vw;
	}
	.title {
		font-size: 6vw;
	}
	.para-body {
		font-size: 3vw;
	}
}