body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: #f4f4f4;
	min-height: 100vh;
	box-sizing: border-box;
}

/*Login/register link*/
.link{
  font-size:17px;
  margin-left:25px;
  margin-top:-20px;
  text-align:center;
}

.title_2{
    background-color: #B5AE87;
    height:50px;
    color:white;
    size: 100px;
  box-sizing:border-box;
  }

/*Container for login & registeration*/
.container_2{ 
    width:600px;
    height:420px;
    background-color: #E8985E;
    margin-left:500px;
   border-radius:25px;
}

input[type="submit"]:hover{
  background-color: #A9714B;
  color: white;
  font-weight: bold;
}

input[type="submit"]{
  width: 70%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 15%;
  margin-bottom: 50%;
}

/*Login page direct_link*/
.link_container{
  background-color:#E8985E;
  width:600px;
  height:100px;
  margin-left:500px;
  margin-top:-50px;
  border-radius:25px;
  text-align:center;
  font-weight:bold;
}

/*label style*/
.label_custom{
  color:black;
  font-size:15px;
  margin-left:86px;
  font-weight:bold;
}

/*Field for labels inside Login/Register Form*/
.field{
  width: 70%;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: left;
  margin-top:20px;
  margin-left:86px;
}

/*Footer - Style*/
footer{
    position: fixed; 
    left: 0;
    bottom: 0;
    width:100%; 
    background-color:#A9714B;
    color:white;
    margin-right:5px;
    font-size: large;
    padding-top:4px;
    padding-bottom: 4px;
    height:10%;
}
